<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem 
        id="rezzstore_menu_root"
        name="Rezz Store"
        sequence="10"
    />

    <menuitem 
        id="rezzstore_game_menu_categ"
        name="Game"
        parent="rezzstore_menu_root"
        sequence="10"
    />

    <menuitem 
        id="rezzstore_transaksi_menu_categ"
        name="Transaksi"
        parent="rezzstore_menu_root"
        sequence="12"
    />

    <menuitem 
        id="rezzstore_update_menu_categ"
        name="Update"
        parent="rezzstore_menu_root"
        sequence="13"
    />

    <menuitem 
        id="rezzstore_admin_menu_categ"
        name="Admin"
        parent="rezzstore_menu_root"
        sequence="14"
    />
</odoo>